body #header {
	border-bottom: 2px solid black;
    /*this is the size of the small text's baseline over part  (≈25px*3/4)*/
    line-height: 19.5px; 
    text-align: right;
    border-width: 0.5px;
    padding-bottom: 40px;
}

body #header a {
	color: black;
	font-weight: bold;
	text-decoration: none;

}

body #header b {
	color: black;
	font-weight: bold;
}

body div {
	padding-left: 25%;
}
