<!DOCTYPE html>
<html lang="en">
<head>
	<title>insta485</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div id ="header">
		<a href="/"> Home </a>
		<a href="/explore/" style="vertical-align: middle;">explore</a>
		<b style="vertical-align: middle">|</b>
		<a style="vertical-align: middle" href="/u/awdeorio/">{{logname}}</a>
	</div>

	<div id="page">
		<h1> Discover People <br></h1>
		{% for follow in not_following %}
		<img alt="{{follow.username}}" style="width: 40px; height: 40px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; vertical-align: middle" src="{{follow.user_img_url}}">
		{% endfor %}

	</div>