<!DOCTYPE html>
<html lang="en">
<head>
	<title>insta485</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div id ="header">
		<a href="/"> Home </a>
		<a href="/explore/" style="vertical-align: middle;">explore</a>
		<b style="vertical-align: middle">|</b>
		<a style="vertical-align: middle" href="/u/awdeorio/">{{logname}}</a>
	</div>

	<div id="page">
		<h1> Followers <br></h1>
		{% for follow in followers %}
		<a href="/u/{{follow.username}}/" style="color: black; font-weight: bold; text-decoration: none; vertical-align: middle; text-align: left">{{follow.username}}</a>
		<img alt="{{follow.username}}" style="width: 40px; height: 40px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; vertical-align: middle" src="{{follow.user_img_url}}">
		<a href="/u/{{follow.username}}/following" style="color: black; font-weight: bold; text-decoration: none; vertical-align: middle; text-align: right">{% if follow.username != logname %}{% if follow.logname_follows_username == true %} following {% endif %} {% if follow.logname_follows_username == false %} not following {% endif %}{% endif %} <br></a>
		{% endfor %}

	</div>