<!DOCTYPE html>
<html lang="en">
<head>
	<title>insta485</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div id ="header">
		<a href="/"> Home </a>
		<a href="/explore/" style="vertical-align: middle;">explore</a>
		<b style="vertical-align: middle">|</b>
		<a style="vertical-align: middle" href="/u/{{logname}}/index.html">{{logname}}</a>
	</div>
	<div id="image1">
		{% for post in posts %}
		<img alt="{{post.owner}}" style="width: 40px; height: 40px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; vertical-align: middle" src="{{post.owner_img_url}}">
		<a href="/u/{{post.owner}}/" style="color: black; font-weight: bold; text-decoration: none; vertical-align: middle; text-align: left">{{post.owner}}</a>
		<a href="/p/{{post.postid}}/" style="color:grey; text-align: right; text-decoration: none; vertical-align: middle">{{post.timestamp}}<br></a>
		<img alt="image" src="{{post.img_url}}">
		<b><br> {{post.likes}} {% if post.likes == 1 %} like {% endif %} {% if post.likes != 1 %} likes {% endif %} <br></b>
		{% for comment in post.comments %}
		<a href="/u/{{comment.owner}}/" style="color: black; font-weight: bold; text-decoration: none">{{comment.owner}}</a>
		<b style="font-weight: normal"> {{comment.text}} <br></b>
		{% endfor %}
		{% endfor %}
	</div>
</body>
</html>