<!DOCTYPE html>
<html lang="en">
<head>
	<title>insta485</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div id ="header">
		<a href="/"> Home </a>
		<a href="/explore/" style="vertical-align: middle;">explore</a>
		<b style="vertical-align: middle">|</b>
		<a style="vertical-align: middle" href="/u/awdeorio/">{{logname}}</a>
	</div>

	<div id="image">
		<img alt="{{owner}}" style="width: 40px; height: 40px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; vertical-align: middle" src="{{owner_img_url}}">
		<a href="/u/{{owner}}/" style="color: black; font-weight: bold; text-decoration: none; vertical-align: middle; text-align: left">{{owner}}</a>
		<a href="/p/{{postid}}/" style="color:grey; text-align: right; text-decoration: none; vertical-align: middle">{{timestamp}}<br></a>
		<img alt="image" src="{{img_url}}">
		<b><br> {{likes}} {% if likes == 1 %} like {% endif %} {% if likes != 1 %} likes {% endif %} <br></b>
		{% for comment in comments %}
		<a href="/u/{{comment.owner}}/" style="color: black; font-weight: bold; text-decoration: none">{{comment.owner}}</a>
		<b style="font-weight: normal"> {{comment.text}} <br></b>
		{% endfor %}
	</div>