<!DOCTYPE html>
<html lang="en">
<head>
	<title>insta485</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div id ="header">
		<a href="/"> Home </a>
		<a href="/explore/" style="vertical-align: middle;">explore</a>
		<b style="vertical-align: middle">|</b>
		<a style="vertical-align: middle" href="/u/awdeorio/">{{logname}}</a>
	</div>

	<div id="page">
		<h1> {{username}} <br></h1>
		<b>{{total_posts}} {% if total_posts == 1%} post {% endif %} {% if total_posts != 1 %} posts {% endif %} </b>
		<b> {% if username != logname %} {%if logname_follows_username%} following {% endif %} {% if logname_follows_username == false %} not following {%endif%}{%endif%} </b>
		<a href="/u/{{username}}/followers/"> {{followers}} {% if followers == 1 %} follower {% endif %} {% if followers != 1%} followers {% endif %} </a>
		<a href="/u/{{username}}/following/"> {{following}} following </a>
		<b style="font-weight: normal"> <br>{{fullname}} <br></b>
		{% for post in posts %}
		<a href="/p/{{post.postid}}/"><img src="{{post.img_url}}" alt="post image" style="height: 200px; width: 270px"></a>
		{% endfor %}
	</div>
</body>
</html>